
h1 {
    text-align: center;
    color: rgb(112, 45, 45);
    font-family: cursive;
}

h3 {
    font-family: cursive;
    color: rgb(112, 45, 45);
}

h4 {
    text-align: center;
}

#div2, #div3, #div4, #div5 {
    font-size: 120%;
}

#contact {
    color:azure;
    text-align: center;
}

#Headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

#Tour {
    left:0;
    width: 400px;
    height: 300px;
}

#friendsandfamily {
    width:50%;
    left:0;
}

#viz1671150183568 {
    left:0;
    width: 400px;
    height: 300px;
}